//Colors
$Primary: '#5DC460';
$Secondary: '#CFFFCA';
$Yellow: '#FFE600';
$WhiteColor: '#FFFFFF';
$Grayscale5: '#1B1C1E';
$Grayscale4: '#1F1F1F';
$Grayscale3: '#333333';
$Grayscale2: '#999999';
$Grayscale1: '#EEEEEE';
$BlueSuccess: '#3483FA';
